Repository DenFromDark/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include: devops/.frontend.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include: devops/.backend.yml
    strategy: depend

tmpl
  docker-compose.yml
  frontend/Dockerfile
Due: frontend

tmpl
  frontend/Dockerfile
Due: frontend

backend2
  docker-compose.yml
Due: none

backend2
  backend-report/__pycache__/app.cpython-310.pyc
  backend-report/__pycache__/test_app.cpython-310-pytest-7.4.0.pyc
  devops/.backend-report.yml
  docker-compose.yml
Due: none

some in tmpk
  frontend/Dockerfile
  frontend/nginx.tmpl
Due: frontend

some in tmpl
  frontend/nginx.tmpl
Due: frontend

some in tmpl
  frontend/Dockerfile
Due: frontend

change ver nginxproxy
  frontend/Dockerfile
Due: frontend

compose
  docker-compose.yml
Due: none

some in tmpl
  docker-compose.yml
  frontend/nginx.tmpl
Due: frontend

change dockerfile backend
  backend/Dockerfile
Due: backend

some in pom and blue green
  backend/pom.xml
  docker-compose.yml
Due: backend

bg
  devops/.backend.yml
Due: backend

bg
  docker-compose.yml
Due: none

deoploy back
  devops/.backend.yml
Due: backend

del cont name & cahe in nginx tmpl
  docker-compose.yml
  frontend/nginx.tmpl
Due: frontend

deploy back
  devops/.backend.yml
Due: backend

change intervals in healthcheck
  docker-compose.yml
Due: none

if container is absent
  devops/.backend.yml
Due: backend

add curl
  backend/Dockerfile
  docker-compose.yml
Due: backend

add curl
  backend/Dockerfile
Due: backend

if container absent
  devops/.backend.yml
Due: backend

Path conditions:
  frontend: any of: frontend/**/*, .gitlab-ci.yml, devops/.frontend.yml, devops/deploy_front.sh, devops/sausage-store-frontend.service
  backend: any of: backend/**/*, backend/*, .gitlab-ci.yml, devops/.backend.yml, devops/deploy_back.sh, devops/sausage-store-backend.service
