Repository DenFromDark/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

#before_script:
#  #устанавливаем ssh-agent для удобства аутентификации по ssh
#  - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client -y )'
#  - eval $(ssh-agent -s)
#  #сохраняем сгенеренный ранее приватный ключ для раннера
#  - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
#  - mkdir -p ~/.ssh
#  - chmod 600 ~/.ssh
#  #Добавляем хост
#  - echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts
#  - chmod 644 ~/.ssh/known_hosts

#stages:
#  - deploy
#
#deploy:
#  stage: deploy
#  script:
#  - ssh ${DEV_USER}@${DEV_HOST}
#  # скачиваем ранее собранный артефакт с Nexus. При этом необходимо заранее
#  # прописать креды от Nexus в переменные в настройке пайплайна
#  - curl -u ${NEXUS_REPO_USER}:${NEXUS_REPO_PASS} -o sausage-store-${VERSION}.jar ${NEXUS_REPO_URL}sausage-store-ponizovskiy-denis-backend/com/yandex/practicum/devops/sausage-store/${VERSION}/sausage-store-${VERSION}.jar
# # запускаем бэкенд  
#  - java -jar sausage-store-${VERSION}.jar & 

stages:
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger:
    include:
      devops/.frontend.yml
#    - template: "Security/SAST.gitlab-ci.yml"
    strategy: depend
  only:
    changes: 
      - frontend/**/*
      - .gitlab-ci.yml
      - devops/.frontend.yml
      - devops/deploy_front.sh
      - devops/sausage-store-frontend.service

backend:
  stage: module-pipelines
  trigger:
    include:
      devops/.backend.yml
#    - template: "Security/SAST.gitlab-ci.yml"
    strategy: depend
  only:
    changes: 
      - backend/**/*
      - .gitlab-ci.yml
      - devops/.backend.yml
      - devops/deploy_back.sh
      - devops/sausage-store-backend.service

#variables:
#  VERSION: 1.0.${CI_PIPELINE_ID}
#  MAVEN_REPO_PATH: ${CI_PROJECT_DIR}/.m2/repository

#stages:
#  - build
#  - test
# - release
#  - notify
# - deploy

vault. again
  devops/.backend.yml
Due: backend

vault. again
  backend/src/main/resources/application.properties
  devops/.backend.yml
Due: backend

vault. again
  backend/src/main/resources/application.properties
Due: backend

vault://
  backend/src/main/resources/application.properties
Due: backend

vault
  backend/src/main/resources/application.properties
Due: backend

vault
  devops/deploy_back.sh
Due: backend

report path
  backend/src/main/resources/log4j2.yml
  devops/deploy_back.sh
Due: backend

pom
  backend/pom.xml
Due: backend

app.prop
  backend/src/main/resources/application.properties
Due: backend

app.prop
  devops/.backend.yml
Due: backend

postgres DB
  devops/.backend.yml
Due: backend

mongo DB
  devops/.backend.yml
Due: backend

fix ip for backend
  devops/deploy_back.sh
Due: backend

vault for another secrets
  backend/src/main/resources/application.properties
  devops/.backend.yml
Due: backend

vault for another secrets
  devops/.backend.yml
Due: backend

Extracted reports to the new microservice
  backend-report/Dockerfile
  backend-report/README.md
  backend-report/app.py
  backend-report/requirements.txt
  backend-report/test_app.py
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: backend

change vault addr in app.prop
  backend/target/classes/application.properties
  backend/target/classes/com/yandex/practicum/devops/SausageApplication.class
  backend/target/classes/com/yandex/practicum/devops/controller/OrderController$OrderForm.class
  backend/target/classes/com/yandex/practicum/devops/controller/OrderController.class
  backend/target/classes/com/yandex/practicum/devops/controller/ProductController.class
  backend/target/classes/com/yandex/practicum/devops/dto/OrderProductDto.class
  backend/target/classes/com/yandex/practicum/devops/exception/ApiExceptionHandler$ErrorItem.class
  backend/target/classes/com/yandex/practicum/devops/exception/ApiExceptionHandler$ErrorResponse.class
  backend/target/classes/com/yandex/practicum/devops/exception/ApiExceptionHandler.class
  backend/target/classes/com/yandex/practicum/devops/exception/ResourceNotFoundException.class
  backend/target/classes/com/yandex/practicum/devops/model/Order.class
  backend/target/classes/com/yandex/practicum/devops/model/OrderProduct.class
  backend/target/classes/com/yandex/practicum/devops/model/OrderProductPK.class
  backend/target/classes/com/yandex/practicum/devops/model/OrderStatus.class
  backend/target/classes/com/yandex/practicum/devops/model/Product.class
  backend/target/classes/com/yandex/practicum/devops/repository/OrderProductRepository.class
  backend/target/classes/com/yandex/practicum/devops/repository/OrderRepository.class
  backend/target/classes/com/yandex/practicum/devops/repository/ProductRepository.class
  backend/target/classes/com/yandex/practicum/devops/service/OrderProductService.class
  backend/target/classes/com/yandex/practicum/devops/service/OrderProductServiceImpl.class
  backend/target/classes/com/yandex/practicum/devops/service/OrderService.class
  backend/target/classes/com/yandex/practicum/devops/service/OrderServiceImpl.class
  backend/target/classes/com/yandex/practicum/devops/service/ProductService.class
  backend/target/classes/com/yandex/practicum/devops/service/ProductServiceImpl.class
  backend/target/classes/db/migration/R__index.sql
  backend/target/classes/db/migration/V001__product.sql
  backend/target/classes/db/migration/V002__order_product.sql
  backend/target/classes/db/migration/V003__orders.sql
  backend/target/classes/db/migration/V004__Alter_columns_max.sql
  backend/target/classes/db/migration/V005__Alter_columns_min.sql
  backend/target/classes/log4j2.yml
  backend/target/test-classes/application.properties
  backend/target/test-classes/com/yandex/practicum/devops/SausageApplicationIntegrationTest$1.class
  backend/target/test-classes/com/yandex/practicum/devops/SausageApplicationIntegrationTest$2.class
  backend/target/test-classes/com/yandex/practicum/devops/SausageApplicationIntegrationTest.class
Due: backend

disable template DockerInDocker
  devops/.backend.yml
Due: backend

disable template DockerInDocker
  devops/.frontend.yml
Due: frontend

export vars
  .gitlab-ci.yml
Due: frontend, backend

export vars
  .1gitlab-ci.yml
  .gitlab-ci.yml
Due: frontend, backend

try to start jobs on new runner
  .1gitlab-ci.yml
  .gitlab-ci.yml
Due: frontend, backend

try to start jobs on new runner
  devops/.backend.yml
Due: backend

try to start jobs on new runner
  devops/.backend.yml
  devops/.frontend.yml
Due: frontend, backend
