Repository DenFromDark/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include: devops/.frontend.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include: devops/.backend.yml
    strategy: depend

try to fly report
  devops/.backend-report.yml
Due: none

try to fly backend
  devops/.backend.yml
Due: backend

try to fly backend
  devops/.backend.yml
  docker-compose.yml
Due: backend

add vault to reports and docker-compose to front
  devops/.backend-report.yml
  devops/.frontend.yml
Due: frontend

docker-compose to front
  devops/.frontend.yml
Due: frontend

docker-compose to front (curl)
  devops/.frontend.yml
Due: frontend

it's working
  devops/.backend-report.yml
  devops/.backend.yml
  devops/.frontend.yml
  docker-compose.yml
Due: frontend, backend

change picture urls
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/target/classes/com/yandex/practicum/devops/SausageApplication.class
Due: backend

del
  backend/target/classes/application.properties
  backend/target/classes/com/yandex/practicum/devops/SausageApplication.class
  backend/target/classes/com/yandex/practicum/devops/controller/OrderController$OrderForm.class
  backend/target/classes/com/yandex/practicum/devops/controller/OrderController.class
  backend/target/classes/com/yandex/practicum/devops/controller/ProductController.class
  backend/target/classes/com/yandex/practicum/devops/dto/OrderProductDto.class
  backend/target/classes/com/yandex/practicum/devops/exception/ApiExceptionHandler$ErrorItem.class
  backend/target/classes/com/yandex/practicum/devops/exception/ApiExceptionHandler$ErrorResponse.class
  backend/target/classes/com/yandex/practicum/devops/exception/ApiExceptionHandler.class
  backend/target/classes/com/yandex/practicum/devops/exception/ResourceNotFoundException.class
  backend/target/classes/com/yandex/practicum/devops/model/Order.class
  backend/target/classes/com/yandex/practicum/devops/model/OrderProduct.class
  backend/target/classes/com/yandex/practicum/devops/model/OrderProductPK.class
  backend/target/classes/com/yandex/practicum/devops/model/OrderStatus.class
  backend/target/classes/com/yandex/practicum/devops/model/Product.class
  backend/target/classes/com/yandex/practicum/devops/repository/OrderProductRepository.class
  backend/target/classes/com/yandex/practicum/devops/repository/OrderRepository.class
  backend/target/classes/com/yandex/practicum/devops/repository/ProductRepository.class
  backend/target/classes/com/yandex/practicum/devops/service/OrderProductService.class
  backend/target/classes/com/yandex/practicum/devops/service/OrderProductServiceImpl.class
  backend/target/classes/com/yandex/practicum/devops/service/OrderService.class
  backend/target/classes/com/yandex/practicum/devops/service/OrderServiceImpl.class
  backend/target/classes/com/yandex/practicum/devops/service/ProductService.class
  backend/target/classes/com/yandex/practicum/devops/service/ProductServiceImpl.class
  backend/target/classes/db/migration/R__index.sql
  backend/target/classes/db/migration/V001__product.sql
  backend/target/classes/db/migration/V002__order_product.sql
  backend/target/classes/db/migration/V003__orders.sql
  backend/target/classes/db/migration/V004__Alter_columns_max.sql
  backend/target/classes/db/migration/V005__Alter_columns_min.sql
  backend/target/classes/log4j2.yml
  backend/target/test-classes/application.properties
  backend/target/test-classes/com/yandex/practicum/devops/SausageApplicationIntegrationTest$1.class
  backend/target/test-classes/com/yandex/practicum/devops/SausageApplicationIntegrationTest$2.class
  backend/target/test-classes/com/yandex/practicum/devops/SausageApplicationIntegrationTest.class
Due: backend

pics addr
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: backend

jpg
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: backend

add pytest
  devops/.backend-report.yml
Due: none

nginx into front
  frontend/Dockerfile
Due: frontend

loadbalancer
  docker-compose.yml
  frontend/Dockerfile
  nginx.tmpl
Due: frontend

loadbalancer
  frontend/Dockerfile
Due: frontend

loadbalancer
  devops/.frontend.yml
Due: frontend

loadbalancer
  devops/.backend-report.yml
  docker-compose.yml
Due: none

skip test in report
  devops/.backend-report.yml
Due: none

change to nginxproxy
  frontend/Dockerfile
Due: frontend

move nginx.tmpl
  frontend/nginx.tmpl
Due: frontend

pull containers always
  devops/.backend-report.yml
  devops/.backend.yml
  devops/.frontend.yml
  docker-compose.yml
Due: frontend, backend

docker pull
  devops/.backend-report.yml
  devops/.backend.yml
  devops/.frontend.yml
Due: frontend, backend

docker pull
  devops/.frontend.yml
Due: frontend

nginxproxy
  frontend/Dockerfile
Due: frontend

tmpl
  docker-compose.yml
  frontend/Dockerfile
Due: frontend

Path conditions:
  frontend: any of: frontend/**/*, .gitlab-ci.yml, devops/.frontend.yml, devops/deploy_front.sh, devops/sausage-store-frontend.service
  backend: any of: backend/**/*, backend/*, .gitlab-ci.yml, devops/.backend.yml, devops/deploy_back.sh, devops/sausage-store-backend.service
