Repository DenFromDark/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include: devops/.frontend.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include: devops/.backend.yml
    strategy: depend

docker CI back
  devops/.backend.yml
Due: backend

build and upload frontend
  devops/.frontend.yml
Due: frontend

move templates
  devops/.backend.yml
  devops/.frontend.yml
  templates/ci/DockerInDockerTemplate.yml
Due: frontend, backend

move templates
  devops/.backend.yml
  devops/.frontend.yml
Due: frontend, backend

some mistake in docker buil
  devops/.frontend.yml
Due: frontend

some mistake in backend
  backend/.env
  devops/.backend.yml
  devops/.frontend.yml
Due: frontend, backend

upload latest frontend
  devops/.frontend.yml
Due: frontend

upload latest frontend fix mistakes and correct forntend Dockerfile
  devops/.frontend.yml
  frontend/Dockerfile
Due: frontend

upload latest frontend fix mistakes and correct forntend Dockerfile
  devops/.backend.yml
  devops/.frontend.yml
Due: frontend, backend

deploy frontend
  devops/.frontend.yml
  devops/deploy_front.sh
Due: frontend

deploy frontend
  devops/.frontend.yml
Due: frontend

deploy frontend
  devops/.backend.yml
  devops/deploy_front.sh
Due: frontend, backend

deploy frontend
  devops/deploy_front.sh
Due: frontend

deploy backend
  devops/.backend.yml
  devops/deploy_back.sh
Due: backend

deploy backend
  devops/.backend.yml
Due: backend

mod Dackerfile frontend
  frontend/Dockerfile
Due: frontend

mod backenf yml spring.database.url
  devops/.backend.yml
Due: backend

mod backenf yml spring.database.url
  devops/.backend.yml
  frontend/Dockerfile
Due: frontend, backend

mod backenf yml mongo
  devops/.backend.yml
Due: backend

sonar back
  devops/.backend.yml
Due: backend

tests from backend back
  backend/src/test/resources/application.properties
  devops/.backend.yml
Due: backend

tests from backend back
  devops/.backend.yml
Due: backend

tests from backend back
  backend/src/test/resources/application.properties
Due: backend

tests from backend & front into pipeline
  backend/src/test/resources/application.properties
  devops/.backend.yml
  devops/.frontend.yml
Due: frontend, backend

tests from backend & front into pipeline
  devops/.backend.yml
  devops/.frontend.yml
Due: frontend, backend

spotbugs sast into backend
  devops/.backend.yml
Due: backend

Upload New File
  templates/ci/SAST.gitlab-ci.yml
Due: none

Update backend-ci.yml
  devops/.backend.yml
Due: backend

Path conditions:
  frontend: any of: frontend/**/*, .gitlab-ci.yml, devops/.frontend.yml, devops/deploy_front.sh, devops/sausage-store-frontend.service
  backend: any of: backend/**/*, .gitlab-ci.yml, devops/.backend.yml, devops/deploy_back.sh, devops/sausage-store-backend.service
