Repository DenFromDark/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

stages:
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger:
    include:
      devops/.frontend.yml

    strategy: depend
  only:
    changes:
      - frontend/**/*
      - .gitlab-ci.yml
      - devops/.frontend.yml
      - devops/deploy_front.sh
      - devops/sausage-store-frontend.service

backend:
  stage: module-pipelines
  trigger:
    include:
      devops/.backend.yml

    strategy: depend
  only:
    changes:
      - backend/**/*
      - backend/*
      - .gitlab-ci.yml
      - devops/.backend.yml
      - devops/deploy_back.sh
      - devops/sausage-store-backend.service

try to start jobs on new runner
  devops/.frontend.yml
Due: frontend

change vault addr
  backend/src/main/resources/application.properties
  backend/target/classes/application.properties
Due: backend

restore include template for docker in docker
  devops/.backend.yml
  devops/.frontend.yml
Due: frontend, backend

add docker login on deploy stage
  devops/.backend.yml
Due: backend

add docker login on deploy stage
  devops/deploy_back.sh
Due: backend

add docker login on deploy stage
  devops/.backend.yml
  devops/deploy_back.sh
Due: backend

change image from vault to docker
  devops/.backend.yml
Due: backend

some migration
  ${env:REPORT_PATH}/report.txt
  backend/target/classes/application.properties
  backend/target/classes/com/yandex/practicum/devops/model/Report.class
  backend/target/classes/com/yandex/practicum/devops/repository/ReportRepository.class
  backend/target/classes/com/yandex/practicum/devops/task/ReportGeneratorTask.class
  backend/target/classes/com/yandex/practicum/devops/task/ReportSaverTask.class
  backend/target/classes/db/migration/R__index.sql
  backend/target/classes/db/migration/V001__product.sql
  backend/target/classes/db/migration/V002__order_product.sql
  backend/target/classes/db/migration/V003__orders.sql
  backend/target/classes/db/migration/V004__Alter_columns_max.sql
  backend/target/classes/db/migration/V005__Alter_columns_min.sql
  backend/target/classes/log4j2.yml
  backend/target/test-classes/application.properties
  backend/target/test-classes/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.class
Due: backend

try to start
  devops/.backend.yml
  devops/.frontend.yml
Due: frontend, backend

change docker to vault
  devops/.backend.yml
Due: backend

try to start
  devops/.frontend.yml
Due: frontend

try to start
  devops/.backend.yml
  devops/deploy_back.sh
Due: backend

try to start
  devops/deploy_back.sh
Due: backend

try to start
  devops/deploy_back.sh
  devops/deploy_front.sh
Due: frontend, backend

try to start
  devops/deploy_front.sh
Due: frontend

try to start
  devops/.frontend.yml
  devops/deploy_back.sh
  devops/deploy_front.sh
Due: frontend, backend

try to start
  backend/target/test-classes/com/yandex/practicum/devops/SausageApplicationIntegrationTest.class
  frontend/Dockerfile
Due: frontend, backend

try docker-compose
  devops/docker-compose.yml
Due: none

try to start from docker-compose
  backend-report/Dockerfile
  devops/.backend-report.yml
  devops/.frontend.yml
  devops/docker-compose.yml
Due: frontend

try to start from docker-compose
  .gitignore
  .gitlab-ci.yml
  backend-report/Dockerfile
  docker-compose.yml
Due: frontend, backend

try to start from docker-compose
  .gitlab-ci.yml
Due: frontend, backend

try to fly
  .gitignore
  devops/.backend-report.yml
  devops/.backend.yml
  devops/.frontend.yml
Due: frontend, backend

try to fly
  devops/.frontend.yml
Due: frontend

try to fly
  devops/.backend-report.yml
  devops/.backend.yml
  devops/.frontend.yml
Due: frontend, backend

try to fly report
  devops/.backend-report.yml
Due: none

try to fly report
  devops/.backend-report.yml
  docker-compose.yml
Due: none

try to fly report
  docker-compose.yml
Due: none
