Repository DenFromDark/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

frontend:
  stage: module-pipelines
  trigger:
    include: devops/.frontend.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include: devops/.backend.yml
    strategy: depend

spotbugs sast into backend
  devops/.backend.yml
Due: backend

spotbugs sast into backend
  templates/ci/Container-Scanning.gitlab-ci.yml
Due: none

withous SAST in container
  devops/.backend.yml
Due: backend

change dockerfile minimize step certificate
  backend/Dockerfile
Due: backend

change dockerfile minimize step expose
  backend/Dockerfile
Due: backend

change dockerfile frontend minimize step expose
  frontend/Dockerfile
Due: frontend

try to fix bug with docker login
  devops/deploy_back.sh
Due: backend

try to fix bug with docker login
  devops/.backend.yml
Due: backend

Update devops/deploy_back.sh
  devops/deploy_back.sh
Due: backend

fix bug with docker login + change pictures urls
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  devops/.backend.yml
  devops/deploy_back.sh
Due: backend

fix bug with docker login + change pictures urls
  devops/.backend.yml
Due: backend

change frontend for nginx
  devops/deploy_front.sh
Due: frontend

change frontend for nginx
  backend/Dockerfile
  devops/deploy_front.sh
Due: frontend, backend

change frontend for nginx
  devops/deploy_back.sh
Due: backend

change frontend for nginx
  backend/Dockerfile
  devops/deploy_back.sh
  devops/deploy_front.sh
Due: frontend, backend

create own PSQL server
  devops/.backend.yml
Due: backend

report path
  devops/.backend.yml
Due: backend

some change in front docker
  frontend/Dockerfile
Due: frontend

Path conditions:
  frontend: any of: frontend/**/*, .gitlab-ci.yml, devops/.frontend.yml, devops/deploy_front.sh, devops/sausage-store-frontend.service
  backend: any of: backend/**/*, .gitlab-ci.yml, devops/.backend.yml, devops/deploy_back.sh, devops/sausage-store-backend.service
